*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width:100%;
    background-color: #f1eded;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 30px;

}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 15px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font: size 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}
#btn2{
    color: white;
    background-color: orangered;
}