*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 7% 33% 30% 30%;
    
    grid-template-areas: 
    " nav nav nav "
    " hero hero1 hero2"
    " left centre centre"
    " left bottom1 bottom2 "
    ;
}

.child{
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 15px;
    border: 2px solid rgb(199, 199, 199);
}

#nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 10PX 20PX;
    border-radius: border-box;
    width: 100%;
}
.btn{
    background: none;
    border: 1px #333;
    border-radius: 50px;
    padding: 8px 0px;

    font-style: sans-serif;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    align-items: center;
    gap: 8px;
    transition: 0.8s;
}
.btn:hover{
    background-color: #f0f0f0;
}
#left-btn{
    width: 15%;
    padding: 5px 1px;
    font-size: 15px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    
    border: 2px solid rgb(108, 88, 88);
    
    
}
#left-btn span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#centre-div{
    width: 75%;
    border: 2px solid black;
    padding: 5px 1px;
    border-radius: 40px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
#feature{
    font-size: 15px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    gap: 30px;
}
#centre-div .mid{
    font-size: 15px;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 15px;

}
#right-btn{
    width: 10%;
    border: 2px solid black;
    padding: 10px 25px;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    
}



#hero{
    grid-area: hero;
    background-color: coral;
}
#hero1{
    grid-area: hero1;
    background-color: rgb(19, 109, 109);
}
#hero2{
    grid-area: hero2;
    background-color: rgb(9, 73, 73);
}
#left{
    grid-area: left;
    background-color: rgb(1, 22, 22);
}
#centre{
    grid-area: centre;
    background-color: rgb(8, 36, 59);
}
#bottom1{
    grid-area: bottom1;
    background-color: rgb(24, 7, 93);
}
#bottom2{
    grid-area: bottom2;
    background-color: rgb(22, 20, 46);
}