@font-face {
    font-family: urbanist;
    src: url(./font/Urbanist-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: urbanist;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(27, 61, 69, 0.5);
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p{
    font-size: 18px;
    line-height: 1.3;
    /* color: #333; */
}

/* Navbar */

nav{
    height: 10%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    color: #161825;
    /* background-color: rgb(211, 166, 196); */
}

nav h2{
    font-size: 30px;
    /* padding: 10px 30px; */
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap : 20px;
}

nav ul li{
    /* padding: 5px 10px; */
    font-size: 20px;
    border: 1.5px rgba(0, 0, 0, 0.304);
    border-radius: 20px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#About-us{
    color: #0D1A2D;
    border: 2px rgba(159, 88, 88, 0.304);
    border-radius: 20px;
}

nav ul li:hover{
    border: 2px rgba(0, 0, 0, 0.304);
    border-radius: 20px;
    color: #000000;
    /* padding: 5px 10px; */
}

.btn{
    all: unset;
    background-color:  #0D1A2D ;
    color: #ffff;
    border-radius: 20px;
    gap: 5px;
    padding: 10px 15px;
}


/* Page 1 */

.page1{
    height: 90%;
    width: 100%;
    padding: 10px 30px;
    color: #ffff
}

.page1-bg{
    height: 100%;
    width: 100%;
    background-image: url(./img/WhatsApp\ Image\ 2026-02-06\ at\ 11.48.39\ PM.jpeg);
    background-size: cover;
    border-radius: 30px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center */
}

/* .page1-bg h1{
    font-size: 60px;
    color: #ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    font-weight: 500;
} */

.page1-center{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.page1-center h1{
    margin-top: 125px;
}