*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height:100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 15px 20px;
    font-size: 25px;
    border-radius: 50px;
    margin-left: 5px;
}
#intro{
    height: 35%;
    width: 100%;
    padding: 10 px;
    /*background-color: rgb(235, 238, 239);*/
}
#intro h1{
    font-size: 100px;
    line-height:80px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 25px 30px;
}
#place{
    margin: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#place h3,#place h4{
    font: 50px;
    font-weight: 600;
    color: black;
}
#hero-image{
    height: 100%;
    width: 100%;
    background-image: url('https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp');
    background-size: cover;
}

#about{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    width: 55%;
    font-size: 70px;
    font-weight: 500;
    line-height: 88px;
    
}
#about-part2{
    width: 36%;
    height: 100%;
    font-size: 20px;
    padding: 0px 60px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#about-parth3{
    font-size: 33px;
    font-weight: 600;
}

#icons i{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 10px;
}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid;
    display: flex;
    padding: 50px 60px;
    align-items: center;
    justify-content: space-between;

}
#work1{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid black;

}
#work1 h3{
    font-size: 30px;
    font-weight: 500;
}
#work1 i{
    font-size: 30px;
}
#work2{
    width: 65%;
    height: 100%;
    
    padding: 0% 60px;
}
.work2-part{

display: flex;
align-items: center;
justify-content:space-between;
padding: 50px 0px;

}
.work2-part:nth-child(1){
    padding-top: 0px;
    border-bottom: 2px solid black;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    
    border-right: 2px solid black;
    padding-right: 50px;
}
.work2-part .elem:nth-child(2){
    padding-left: 60px;
}
.work2-part .elem h4{
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
}
.work2-part .elem p{
    font-size: 15px;
    font-weight: 400;
}