*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width:100%;
    background-color: #f1eded;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 30px;

}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 15px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font: size 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}
#btn2{
    border: none;
    color: white;
    background-color: orangered;
}
#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    font-weight: 400;
    width: 100%;

    text-align: center;
}
img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
    font-weight: 200;

}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
    font-weight: 200;
}